body{
    background-color: FCF5E5;
 }
.art{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.fruit img{
    object-fit:contain;
    height:70%;
    width:100%;
}
.fruit p{
    text-align:center;
}
.fruit{
    height:400px;
    width:300px;
    margin:20px;
}

@media only screen and (max-width: 800px) {
 .fruit {width: 50%; margin:auto;
   }
  } 